<!-- [nzPagination]="pagination" -->
<nz-list
  [nzDataSource]="data"
  [nzItemLayout]="'vertical'"
  [nzRenderItem]="item"
  [nzFooter]="footer"
>
  <ng-template #item let-item>
    <nz-list-item [nzActions]="[itemActions]" [nzExtra]="extra">
      <ng-template #itemActions>
        <span *ngIf="adminMode">
          <button
            nz-button
            nzType="default"
            (click)="
              updateAssignees.emit({
                PerformanceReviewId: item.PerformanceReviewId,
                Assignees: item.Assignees,
                EmployeeId: item.EmployeeId,
                EmployeeName: item.DisplayName
              })
            "
            style="margin-left: 43px;"
          >
            <i nz-icon nzType="user-add"></i>Update Assignees
          </button>
          <button
            (click)="
              viewReviews.emit({
                PerformanceReviewId: item.PerformanceReviewId
              })
            "
            nz-button
            nzType="default"
            style="margin-left: 10px;"
          >
            <i nz-icon nzType="unordered-list"></i>View Reviews
          </button>
        </span>
        <button
          *ngIf="!adminMode"
          nz-button
          nzType="default"
          (click)="
            submitFeedback.emit({
              EmployeeId: item.EmployeeId,
              PerformanceReviewId: item.PerformanceReviewId
            })
          "
          style="margin-left: 10px;"
        >
          <i nz-icon nzType="check"></i>Submit Feedbck
        </button>
      </ng-template>
      <ng-template #extra>
        <span *ngIf="adminMode">
          <nz-rate [nzDisabled]="true" [ngModel]="item.AvgRating"></nz-rate>
          <div style="margin-top: 5px;" class="center-align">
            <span
              class="cursor-pointer"
              nz-tooltip
              nzTooltipTitle="Total Assignees"
            >
              <i nz-icon nzType="user"></i>
              {{ item.AssigneesCount }}
            </span>

            <span
              class="cursor-pointer"
              nz-tooltip
              nzTooltipTitle="Feedbacks Submitted"
            >
              <i nz-icon nzType="check" style="margin-left: 20px;"></i>
              {{ item.Feedbacks }}
            </span>
          </div>
        </span>
        <span *ngIf="!adminMode">
          {{ item.DateAssigned | formatDate }} 
        </span>
      </ng-template>

      <nz-list-item-meta
        [nzAvatar]="
          'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'
        "
        [nzTitle]="nzTitle"
        [nzDescription]="item.UserName"
      >
        <ng-template #nzTitle>{{ item.DisplayName }}</ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>

  <!-- <ng-template #pagination>
    <nz-pagination
      [nzPageIndex]="1"
      [nzTotal]="50"
      (nzPageIndexChange)="loadData($event)"
    ></nz-pagination>
  </ng-template> -->
</nz-list>
