<div nz-row>
  <div nz-col [nzMd]="4">Employee:</div>
  <div nz-col [nzMd]="20">
    <app-user-picker *ngIf="!editMode"
      (selectedUserEmitter)="
        employeeId = $event; updateMultipleExcludeUsers($event)
      "
      [options]="singlePickerOptions"
      [defaultValue]="employeeId"
    ></app-user-picker>
    <span *ngIf="editMode">
      {{employeeName}}
    </span>
  </div>
</div>
<div nz-row style="margin-top: 30px;">
  <div nz-col [nzMd]="4">Assignees:</div>
  <div nz-col [nzMd]="20">
    <app-user-picker
      (selectedUserEmitter)="assignees = $event"
      [options]="multiPickerOptions"
      [defaultValue]="originalAssignees"
    ></app-user-picker>
  </div>
</div>

<div class="drawer-footer">
  <button
    (click)="editMode?manageReviewAssignees():createPerformanceReview()"
    [nzLoading]="creatingReview"
    nz-button
    nzType="primary"
  >
    <span>{{editMode?'Update':'Create'}} Review</span>
  </button>
</div>
