<div class="sub-heading">Performance Reviews</div>
<div class="performance-review-actions">
  <button
    nz-button
    nzType="default"
    class="action-button"
    (click)="visible = true; editMode = false"
  >
    <i nz-icon nzType="plus"></i>Create New
  </button>
</div>
<nz-spin [nzSpinning]="loadingReviews">
  <app-reviews-list
    (updateAssignees)="
      editMode = true; visible = true; currentReviewMeta = $event
    "
    (viewReviews)="getSubmittedReviews($event)"
    [data]="allPerformanceReviews"
    [adminMode]="true"
  ></app-reviews-list>
</nz-spin>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="{{ editMode ? 'Update' : 'Create' }} Review"
  (nzOnClose)="close()"
>
  <app-create-review
    *ngIf="visible"
    (closeDrawer)="visible = false; getAllPerformanceReviews()"
    [editMode]="editMode"
    [assignees]="currentReviewMeta.Assignees"
    [employeeId]="currentReviewMeta.EmployeeId"
    [employeeName]="currentReviewMeta.EmployeeName"
    [performanceReviewId]="currentReviewMeta.PerformanceReviewId"
  ></app-create-review>
</nz-drawer>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="reviewsVisible"
  nzTitle="Reviews"
  (nzOnClose)="reviewsVisible = false"
>
  <div *ngIf="reviewsVisible">
    <app-submit-feeback
      *ngFor="let review of submittedReviews"
      [ratingHardWork]="review.RatingHardWork"
      [ratingCommitment]="review.RatingCommitment"
      [ratingPunctuality]="review.RatingPunctuality"
      [ratingTeamPlayer]="review.RatingTeamPlayer"
      [ratingHonesty]="review.RatingHonesty"
      [comments]="review.Comments"
      [employeeName]="review.DisplayName"
       [viewMode]="true"
    ></app-submit-feeback>
  </div>
</nz-drawer>
