<div class="performance-review-actions">
  <button
    nz-button
    nzType="default"
    class="action-button"
    (click)="visible = true"
  >
    <i nz-icon nzType="plus"></i>Create New
  </button>
</div>
<nz-spin [nzSpinning]="loadingReviews">
  
  <app-reviews-list [data]="allPerformanceReviews" [adminMode]="true"></app-reviews-list>
</nz-spin>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create Review"
  (nzOnClose)="close()"
>
  <app-create-review
    *ngIf="visible"
    (closeDrawer)="visible = false;getAllPerformanceReviews()"

  ></app-create-review>
</nz-drawer>
