<div class="create-employee-actions">
  <button
    nz-button
    nzType="default"
    class="action-button"
    (click)="visible = true; editMode = false"
  >
    <i nz-icon nzType="plus"></i>Create New
  </button>
</div>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="{{editMode?'Update':'Create'}} Employee"
  (nzOnClose)="close()"
>
  <app-create-employee
    (closeDrawer)="visible = false; getEmployeeData(true)"
    *ngIf="visible"
    [editMode]="editMode"
    [selectedEmployeeForEdit]="selectedEmployeeForEdit"
  ></app-create-employee>
</nz-drawer>

<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="listOfData"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="getEmployeeData()"
  (nzPageSizeChange)="getEmployeeData(true)"
>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th></th>
      <th nzShowSort nzSortKey="display_name">Name</th>
      <th>User Name</th>
      <th>Phone Number</th>
      <th>Date Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td
        nz-tooltip
        nzTooltipTitle="Edit employee"
        (click)="visible = true; editMode = true;selectedEmployeeForEdit=data;"
      >
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </td>
      <td>{{ data.DisplayName }}</td>
      <td>{{ data.UserName }}</td>
      <td>{{ data.PhoneNumber }}</td>
      <td>{{ data.DateCreated }}</td>
      <td
        nz-tooltip
        nzTooltipTitle="Delete employee"
        (click)="deleteEmployee(data.EmployeeId)"
      >
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
