<div class="create-employee-actions">
  <button
    nz-button
    nzType="default"
    class="action-button"
    (click)="visible = true"
  >
    <i nz-icon nzType="plus"></i>Create New
  </button>
</div>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create Employee"
  (nzOnClose)="close()"
>
  <app-create-employee (closeDrawer)="visible = false" *ngIf="visible"></app-create-employee>
</nz-drawer>

<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="listOfData"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="getEmployeeData()"
  (nzPageSizeChange)="getEmployeeData(true)"
>
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="display_name">Name</th>
      <th>User Name</th>
      <th>Phone Number</th>
      <th>Date Created</th>
      <th>Date Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.DisplayName }}</td>
      <td>{{ data.UserName }}</td>
      <td>{{ data.PhoneNumber }}</td>
      <td>{{ data.DateCreated }}</td>
      <td>{{ data.Modified }}</td>
    </tr>
  </tbody>
</nz-table>
