<div nz-row class="admin-main-container">
    <div nz-col nzMd="5" >
        <ul nz-menu nzMode="inline">
            <li routerLink="/admin/employees" nz-menu-item nzSelected>
              <i nz-icon nzType="mail"></i>
              Employees
            </li>
            <li routerLink="/admin/performance-reviews" nz-menu-item>
              <i nz-icon nzType="mail"></i>
              Performance Reviews
            </li>
          </ul>
    </div>
    <div nz-col nzMd="19" class="main-container">
      <router-outlet></router-outlet>
    </div>
    
  </div>



