<div>
  <form nz-form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username"
        >User Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="User name is required!"
      >
        <input nz-input formControlName="username" id="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="displayName"
        >Employee Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Employee name is required!"
      >
        <input nz-input formControlName="displayName" id="displayName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="employeeForm.controls['phoneNumber']"
        nzErrorTip="Phone number is required!"
      >
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select">
              <nz-option nzLabel="+81" nzValue="+81"></nz-option>
              <nz-option nzLabel="+82" nzValue="+82"></nz-option>
              <nz-option nzLabel="+83" nzValue="+83"></nz-option>
              <nz-option nzLabel="+84" nzValue="+84"></nz-option>
              <nz-option nzLabel="+85" nzValue="+85"></nz-option>
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <nz-option nzLabel="+87" nzValue="+87"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
        >Password</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzErrorTip]="errorTplPassword"
      >
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
        <ng-template #errorTplPassword let-control>
          <ng-container *ngIf="control.hasError('invalidPassword')">
            Password must contain an upper case character, a lower case
            character, a special character and a numeric character.
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired
        >Confirm Password</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTplConfirmPassword">
        <input
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
        />
        <ng-template #errorTplConfirmPassword let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="create-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button
          [nzLoading]="creatingEmployee"
          nz-button
          nzType="primary"
        >
          Create
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
