<div class="sub-heading">My Reviews</div>
<div class="user-main-container">
  <nz-spin [nzSpinning]="loadingReviews">
    <app-reviews-list
      (submitFeedback)="getReviewMeta($event)"
      [data]="assignedPerformanceReviews"
      [adminMode]="false"
    >
    </app-reviews-list>
  </nz-spin>
</div>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Submit Feeback"
  (nzOnClose)="close()"
>
  <app-submit-feeback
    [performanceReviewId]="selectedReviewInfo.PerformanceReviewId"
    (closeDrawer)="visible = false;getAssingedReviews()"
  ></app-submit-feeback>
</nz-drawer>
