<div class="sub-heading">My Reviews</div>
<div class="user-main-container">
  <app-reviews-list (submitFeedback)="visible = true" [adminMode]="false">
  </app-reviews-list>
</div>
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Submit Feeback"
  (nzOnClose)="close()"
>

<app-submit-feeback (closeDrawer)="visible=false"></app-submit-feeback>
  
</nz-drawer>
