/* You can add global styles to this file, and also import other style files */
@import "./app/constants/style.consts.css";
.center-screen{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.error{
    color:red;
}
.center-align{
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}
.action-button{
    color: #096dd9 !important;
    border: unset !important;
    box-shadow: unset !important;
}
.drawer-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
  }
  .sub-heading{
      font-size: 18px;
  }